@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@font-face {
  font-family: "BodyGrotesque-Fit";
  src: local("Body Grotesque Fit Light"), local("Body-Grotesque-Fit-Light"), url("../fonts/BodyGrotesque-FitLight.woff2") format("woff2"), url("../fonts/BodyGrotesque-FitLight.woff") format("woff"), url("../fonts/BodyGrotesque-FitLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk Giga Bold Italic"), local("Grtsk-Giga-Bold-Italic"), url("../fonts/GrtskGiga-BoldItalic.woff2") format("woff2"), url("../fonts/GrtskGiga-BoldItalic.woff") format("woff"), url("../fonts/GrtskGiga-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk Giga Bold"), local("Grtsk-Giga-Bold"), url("../fonts/GrtskGiga-Bold.woff2") format("woff2"), url("../fonts/GrtskGiga-Bold.woff") format("woff"), url("../fonts/GrtskGiga-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk Giga Semibold"), local("Grtsk-Giga-Semibold"), url("../fonts/GrtskGiga-Semibold.woff2") format("woff2"), url("../fonts/GrtskGiga-Semibold.woff") format("woff"), url("../fonts/GrtskGiga-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (max-width: 1024px) {
  html body {
    padding: 16px 10px 12px;
  }
}
body {
  font-family: "Grtsk Giga";
  background-color: #BEBEBE;
  color: #373737;
  font-family: "Grtsk Giga";
  font-weight: 700;
  font-size: 16px;
  padding: 24px 19px 19px;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: [start] "header" minmax(38px, auto) [row2] [row2] "main" 1fr [row3]/1fr;
}

@media (max-width: 1024px) {
  .wrapper .header__language {
    height: 34px;
    width: 34px;
  }
}
.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr/1fr 2fr 1fr;
}
.header__language {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.12);
  margin: 10px 0 0 5px;
}
.header__language:hover .header__lang-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translate(-20%, 0);
}
.header__lang-icon {
  display: inline-block;
  transform: translate(35%, 35%);
  font-family: "BodyGrotesque-Fit";
  font-size: 15px;
  line-height: 1.4;
}
.header__lang-wrapper {
  padding-top: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.header__lang-list {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 20%;
  display: flex;
}
.header__lang a {
  display: block;
  padding: 5px 10px;
  color: #000;
  font-size: 12px;
}
.header__lang a:hover {
  color: #fff;
}
.header__lang a:after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #fff;
  transition: transform 0.25s ease-out;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  transform-origin: bottom right;
}
.header__lang a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 1024px) {
  .header .logo_sub-name {
    font-size: 4px;
  }
  .header .logo__name {
    font-size: 27px;
  }
}
@media (max-width: 375px) {
  .header .logo_sub-name {
    font-size: 3px;
  }
  .header .logo__name {
    font-size: 18px;
  }
}
.logo {
  display: grid;
  justify-items: center;
  z-index: 16;
  font-family: "Orbitron", sans-serif;
  font-weight: 200;
}
.logo_sub-name {
  font-size: 5px;
  color: #000;
}
.logo__name {
  font-size: 32px;
  transform: scale(0.8, 1);
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #000;
  position: relative;
  background: linear-gradient(to top, #000, #000 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  transition: background-position 5s ease;
}
@media (max-width: 1024px) {
  .wrapper .main__list > li > a {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper .main__text {
    font-size: 58px;
    line-height: 110%;
    padding: 0 0 0;
    margin: 0 150px 0;
  }
  .wrapper .main__circle-bg {
    width: 482px;
    height: 482px;
  }
  .wrapper .main__running-line {
    font-size: 42px;
    line-height: 110%;
  }
  .wrapper .main__wheel {
    top: 147px;
    left: 164px;
    height: 112px;
    width: 112px;
  }
  .wrapper .main__wheel_inner span {
    font-size: 7px;
    transform-origin: 0 56px;
  }
  .wrapper .main .where {
    left: 10px;
  }
  .wrapper .main .what {
    right: 10px;
  }
  .wrapper .main .who {
    bottom: 12px;
  }
}
@media (max-width: 870px) {
  .wrapper .main__wheel {
    top: 160px;
  }
}
@media (max-width: 768px) {
  .wrapper .main__wheel {
    top: 170px;
    left: 150px;
  }
  .wrapper .main__text {
    margin: 0 100px 0;
  }
}
@media (max-width: 500px) {
  .wrapper .main__menu {
    display: none;
  }
  .wrapper .main__running-line_top {
    transform: rotate(-237deg) translateY(100%);
  }
  .wrapper .main__running-line_bottom {
    transform: rotate(-57deg) translateY(100%);
  }
  .wrapper .main__circle-bg {
    width: 294px;
    height: 294px;
  }
  .wrapper .main__text {
    font-size: 34px;
    line-height: 1.1;
    line-height: 110%;
    padding: 0 0 0;
    margin: 0 21px 0;
  }
  .wrapper .main__wheel {
    top: 305px;
    left: 70px;
    height: 88px;
    width: 88px;
  }
  .wrapper .main__wheel_inner span {
    font-size: 7px;
    transform-origin: 0 45px;
  }
  .wrapper .main__dot {
    width: 6px;
    height: 6px;
  }
}
.main {
  grid-area: main;
  display: grid;
  justify-items: center;
}
.main__list > li > a {
  display: inline-block;
  font-family: "Grtsk Giga";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #373737;
  position: absolute;
  z-index: 15;
}
.main__list > li > a:hover {
  color: #fff;
}
.main__list > li > a:after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #fff;
  transition: transform 0.25s ease-out;
}
.main .where {
  writing-mode: vertical-rl;
  transform: translate(0, -50%) rotate(180deg);
  top: 50%;
  left: 19px;
}
.main .where:after {
  top: 0;
  height: 100%;
  transform: scaleY(0);
  width: 2px;
  transform-origin: bottom left;
}
.main .where:hover:after {
  transform: scaleY(1);
  transform-origin: top left;
}
.main .who {
  bottom: 19px;
  right: 50%;
  transform: translateX(50%);
}
.main .who:after {
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  transform-origin: bottom right;
}
.main .who:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main .what {
  writing-mode: vertical-rl;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
}
.main .what:after {
  top: 0;
  height: 100%;
  transform: scaleY(0);
  width: 2px;
  transform-origin: bottom left;
}
.main .what:hover:after {
  transform: scaleY(1);
  transform-origin: top left;
}
.main__circle-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  -webkit-filter: blur(76px);
  filter: blur(76px);
  background-color: #ffcb46;
  z-index: 10;
}
.main__text {
  display: inline-block;
  font-family: Grtsk Giga;
  font-size: 82px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  max-width: 1023px;
  margin: 0 35px 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
}
.main__running-line {
  position: absolute;
  top: 50%;
  opacity: 0.1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #373737;
  font-family: "Grtsk Giga";
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.main__running-line_top {
  transform: rotate(-210deg) translateY(100%);
}
.main__running-line_bottom {
  transform: rotate(-30deg) translateY(100%);
}
.main__running-line span {
  display: inline-block;
  padding-left: 10%;
  -webkit-animation: scroll 50s infinite linear;
  -moz-animation: scroll 50s infinite linear;
  animation: scroll 50s infinite linear;
}
.main__wheel {
  z-index: 14;
  position: relative;
  top: 186px;
  left: 207px;
  border-radius: 50%;
  height: 118px;
  width: 118px;
  overflow: hidden;
}
.main__wheel_inner {
  position: relative;
  height: 100%;
  color: #37474F;
  text-align: center;
  pointer-events: none;
  /*не применять событие мыши*/
  user-select: none;
  /*запрет на выбор текста*/
}
.main__wheel_inner span {
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  display: inline-block;
  /*отображать как блочно-строчный*/
  transform-origin: 0 60px;
  /*откуда начинать трансформацию*/
}
.main__wheel:hover .main__wheel_inner span {
  animation: rotate-wheel;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.main__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
}

@keyframes rotate-wheel {
  100% {
    transform: rotate(-720deg);
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}/*# sourceMappingURL=style.css.map */